body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background: #777777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

header {
    margin-top: 10px;
    width: 900px;
    float: left;
    padding: 30px;
}

nav {
    width: 900px;
    float: left;
    padding: 30px;
    margin: 10px 0px;
    clear: both;
}

div.wrapper {
    width: 960px;
    float: left;
}

section {
    width: 495px;
    float: left;
    margin: 10px 10px 10px 0px;
    padding: 30px 10px 10px 10px;
}

article {
    width: 465px;
    color: #ebebeb;
    background: #777777;
    padding: 20px 15px 15px 15px;
    margin-top: 30px;
}

h1 {
    font-weight: 600;
    display: inline;
}

p {
    display: inline;
}

aside {
    float: right;
    width: 385px;
    padding: 30px 20px 249px 20px;
    margin: 10px 0px 10px 10px;
}

footer {
    width: 900px;
    float: left;
    margin-top: 10px;
    padding: 30px;
}

div.first {
    padding: 20px;
    margin: 20px 10px 10px 10px;
}

div.second {
    padding: 20px;
    margin: 10px;
}

.bgeb {
    background: #ebebeb;
    color: #777777;
}